# Wine

### Introduction:

This exercise is a adaptation from the UCI Wine dataset.
The only pupose is to practice deleting data with pandas.

### Step 1. Import the necessary libraries

In [7]:
import pandas as pd 
import numpy as np

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data).

### Step 3. Assign it to a variable called wine

In [2]:
wine = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data')

### Step 4. Delete the first, fourth, seventh, nineth, eleventh, thirteenth and fourteenth columns

In [4]:
wine = wine.drop(wine.columns[[0,3,6,8,11,12,13]], axis = 1)

wine.head()

   14.23  1.71  15.6  127  3.06  2.29  5.64
0  13.20  1.78  11.2  100  2.76  1.28  4.38
1  13.16  2.36  18.6  101  3.24  2.81  5.68
2  14.37  1.95  16.8  113  3.49  2.18  7.80
3  13.24  2.59  21.0  118  2.69  1.82  4.32
4  14.20  1.76  15.2  112  3.39  1.97  6.75

### Step 5. Assign the columns as below:

The attributes are (donated by Riccardo Leardi, riclea '@' anchem.unige.it):  
1) alcohol  
2) malic_acid  
3) alcalinity_of_ash  
4) magnesium  
5) flavanoids  
6) proanthocyanins  
7) hue

In [5]:
wine.columns = ['alcohol', 'malic_acid', 'alcalinity_of_ash', 'magnesium', 'flavanoids', 'proanthocyanins', 'hue']
wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,13.20,1.78,11.2,100,2.76,1.28,4.38
1,13.16,2.36,18.6,101,3.24,2.81,5.68
2,14.37,1.95,16.8,113,3.49,2.18,7.80
3,13.24,2.59,21.0,118,2.69,1.82,4.32
4,14.20,1.76,15.2,112,3.39,1.97,6.75

### Step 6. Set the values of the first 3 rows from alcohol as NaN

In [8]:
wine.iloc[0:3, 0] = np.nan
wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,NaN,1.78,11.2,100,2.76,1.28,4.38
1,NaN,2.36,18.6,101,3.24,2.81,5.68
2,NaN,1.95,16.8,113,3.49,2.18,7.80
3,13.24,2.59,21.0,118,2.69,1.82,4.32
4,14.20,1.76,15.2,112,3.39,1.97,6.75

### Step 7. Now set the value of the rows 3 and 4 of magnesium as NaN

In [9]:
wine.iloc[2:4, 3] = np.nan
wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,NaN,1.78,11.2,100.0,2.76,1.28,4.38
1,NaN,2.36,18.6,101.0,3.24,2.81,5.68
2,NaN,1.95,16.8,NaN,3.49,2.18,7.80
3,13.24,2.59,21.0,NaN,2.69,1.82,4.32
4,14.20,1.76,15.2,112.0,3.39,1.97,6.75

### Step 8. Fill the value of NaN with the number 10 in alcohol and 100 in magnesium

In [10]:
wine.alcohol.fillna(10, inplace = True)
wine.magnesium.fillna(100, inplace = True)
wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.00,1.78,11.2,100.0,2.76,1.28,4.38
1,10.00,2.36,18.6,101.0,3.24,2.81,5.68
2,10.00,1.95,16.8,100.0,3.49,2.18,7.80
3,13.24,2.59,21.0,100.0,2.69,1.82,4.32
4,14.20,1.76,15.2,112.0,3.39,1.97,6.75

### Step 9. Count the number of missing values

In [11]:
wine.isna().sum()

alcohol              0
malic_acid           0
alcalinity_of_ash    0
magnesium            0
flavanoids           0
proanthocyanins      0
hue                  0
dtype: int64

### Step 10.  Create an array of 10 random numbers up until 10

In [12]:
random = np.random.randint(10, size = 10)
random

array([8, 0, 0, 0, 6, 8, 6, 9, 7, 0])

### Step 11.  Use random numbers you generated as an index and assign NaN value to each of cell.

In [13]:
wine.iloc[random,:] = np.nan
wine.head(10)

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10.00,2.36,18.6,101.0,3.24,2.81,5.68
2,10.00,1.95,16.8,100.0,3.49,2.18,7.80
3,13.24,2.59,21.0,100.0,2.69,1.82,4.32
4,14.20,1.76,15.2,112.0,3.39,1.97,6.75
5,14.39,1.87,14.6,96.0,2.52,1.98,5.25
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Step 12.  How many missing values do we have?

In [16]:
wine.isna().sum()

alcohol              0
malic_acid           0
alcalinity_of_ash    0
magnesium            0
flavanoids           0
proanthocyanins      0
hue                  0
dtype: int64

### Step 13. Delete the rows that contain missing values

In [15]:
wine.dropna(inplace=True)

### Step 14. Print only the non-null values in alcohol

In [18]:
wine.alcohol.unique()

array([10.  , 13.24, 14.2 , 14.39, 14.12, 13.75, 14.75, 14.38, 13.63,
       14.3 , 13.83, 14.19, 13.64, 14.06, 12.93, 13.71, 12.85, 13.5 ,
       13.05, 13.39, 13.3 , 13.87, 14.02, 13.73, 13.58, 13.68, 13.76,
       13.51, 13.48, 13.28, 13.07, 14.22, 13.56, 13.41, 13.88, 14.21,
       13.9 , 14.1 , 13.94, 13.82, 13.77, 13.74, 13.29, 13.72, 12.37,
       12.33, 12.64, 13.67, 12.17, 13.11, 13.34, 12.21, 12.29, 13.86,
       13.49, 12.99, 11.96, 11.66, 13.03, 11.84, 12.7 , 12.  , 12.72,
       12.08, 12.67, 12.16, 11.65, 11.64, 12.69, 11.62, 12.47, 11.81,
       12.6 , 12.34, 11.82, 12.51, 12.42, 12.25, 12.22, 11.61, 11.46,
       12.52, 11.76, 11.41, 11.03, 12.77, 11.45, 11.56, 11.87, 12.07,
       12.43, 11.79, 12.04, 12.86, 12.88, 12.81, 12.53, 12.84, 13.36,
       13.52, 13.62, 13.16, 12.87, 13.32, 13.08, 12.79, 13.23, 12.58,
       13.17, 13.84, 12.45, 14.34, 12.36, 13.69, 12.96, 13.78, 13.45,
       12.82, 13.4 , 12.2 , 14.16, 13.27, 14.13])

### Step 15.  Reset the index, so it starts with 0 again

In [19]:
wine = wine.reset_index(drop = True)
wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.00,2.36,18.6,101.0,3.24,2.81,5.68
1,10.00,1.95,16.8,100.0,3.49,2.18,7.80
2,13.24,2.59,21.0,100.0,2.69,1.82,4.32
3,14.20,1.76,15.2,112.0,3.39,1.97,6.75
4,14.39,1.87,14.6,96.0,2.52,1.98,5.25

### BONUS: Create your own question and answer it.