# Investor - Flow of Funds - US

### Introduction:

Special thanks to: https://github.com/rgrp for sharing the dataset.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/datasets/investor-flow-of-funds-us/master/data/weekly.csv).

### Step 3. Assign it to a variable called

In [22]:
df = pd.read_csv('https://raw.githubusercontent.com/datasets/investor-flow-of-funds-us/master/data/weekly.csv')

### Step 4.  What is the frequency of the dataset?

In [4]:
#weekly

### Step 5. Set the column Date as the index.

In [23]:
df =df.set_index('Date')

### Step 6. What is the type of the index?

In [7]:
df.index.dtype

dtype('O')

### Step 7. Set the index to a DatetimeIndex type

In [24]:
df.index = pd.DatetimeIndex(df.index)

### Step 8.  Change the frequency to monthly, sum the values and assign it to monthly.

In [25]:
df = df.resample('M').sum()

### Step 9. You will notice that it filled the dataFrame with months that don't have any data with NaN. Let's drop these rows.

In [29]:
df = df[df['Total Equity']!=0]

### Step 10. Good, now we have the monthly data. Now change the frequency to year.

In [31]:
df.resample('Y').sum()

,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
Date,,,,,,,,
2012-12-31,-26156,-23126,-3031,526,9848,12613,-2765,-15782
2013-12-31,3661,-1627,5288,2730,12149,9414,2735,18540
2014-12-31,330,-44689,45021,19570,59890,44994,14896,79787
2015-12-31,15049,-10459,25508,7280,26028,17986,8041,48357

### BONUS: Create your own question and answer it.